{% extends 'pln/base.html' %}
{% block content %}
<!-- Page Contents -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary pln app">

      <!-- panel header -->
      <div style="height: 78px;" class="panel-heading">
	<div class="row">
	  <div class="col-sm-2 col-xs-2">
	    <a href="{{ app.url }}">
	      <img class="img-responsive pln app icon" src="{{ app.icon }}" width="64" alt="App Icon N/A">
	    </a>
	  </div>
	  <div class="col-sm-10 col-xs-10">
	    <h4 class="media-heading">{{ app.name }}</h4>
	  </div>
	</div>
      </div> <!-- /.panel header -->

      <!-- panel body -->
      <div  class="panel-body">
	{{ app.description }}
	<hr>

	<div class="row">
	  <div class="col-sm-3 col-xs-3">
	    Privacy:
	  </div>
	  <div class="col-sm-6 col-xs-6">
	    <a href="{{ app.privacy }}">{{ app.privacy }}</a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-sm-3 col-xs-3">
	    Tutorial:
	  </div>
	  <div class="col-sm-6 col-xs-6">
	    <a href="{{ app.tutorial }}">{{ app.tutorial }}</a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-sm-3 col-xs-3">
	    URL:
	  </div>
	  <div class="col-sm-6 col-xs-6">
	    <a href="{{ app.url }}">{{ app.url }}</a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-sm-3 col-xs-3">
	    Price:
	  </div>
	  <div class="col-sm-6 col-xs-6">
	    {{ app.price }}
	  </div>
	</div>

	<div class="row">
	  <div class="col-sm-3 col-xs-3">
	    Support:
	  </div>
	  <div class="col-sm-6 col-xs-6">
	    {{ app.support }}
	  </div>
	</div>

	<div class="row">
	  <div class="col-sm-3 col-xs-3">
	    Testimonial:
	  </div>
	  <div class="col-sm-6 col-xs-6">
	    {{ itme.testimonial }}
	  </div>
	</div>

	<div class="row">
	  <div class="col-sm-3 col-xs-3">
	    Functions:
	  </div>
	  <div class="col-sm-6 col-xs-6">
	    {% for function in app.functions.all %}
	    {{ function }}
	    {% if not forloop.last %},{% endif %}
	    {% endfor %}
	  </div>
	</div>

	<div class="row">
	  <div class="col-sm-3 col-xs-3">
	    Formats:
	  </div>
	  <div class="col-sm-6 col-xs-6">
	    {% for format in app.formats.all %}
	    {{ format }}
	    {% if not forloop.last %},{% endif %}
	    {% endfor %}
	  </div>
	</div>

	<div class="row">
	  <div class="col-sm-3 col-xs-3">
	    Types:
	  </div>
	  <div class="col-sm-6 col-xs-6">
	    {% for type in app.types.all %}
	    {{ type }}
	    {% if not forloop.last %},{% endif %}
	    {% endfor %}
	  </div>
	</div>
      </div><!-- /.panel body -->

    {% if user.is_authenticated %}
        <!-- panel footer -->
        <div class="panel-footer">
          <div class="admin-menu">
            <a class="btn btn-info" href="admin/pln/app/{{item.id}}/">Edit</a>
          </div>
        </div><!-- ./panel footer -->
    {% endif %}
    </div><!-- /.panel -->
  </div><!-- /.column -->
</div><!-- /.row -->
{% endblock %}
