{% extends 'pln/base.html' %}

{% block content %}
<!-- Page Contents -->	
{% for item in lists %}
<div class="panel panel-primary pln app">
  <div class="panel-heading">{{ item.name }}</div>
  <div class="panel-body">
    {{ item.description }}<br>
    <img class="img-responsive pln app icon" src="{{ item.icon }}" alt=""><br>
    <a href="{{ item.privacy }}">{{ item.privacy }}</a><br>
    <a href="{{ item.tutorial }}">{{ item.tutorial }}</a><br>
    <a href="{{ item.url }}">{{ item.url }}</a><br>
    {{ item.price }}<br>
    {{ item.support }}<br>
    {{ itme.testimonial }}
    {% for function in item.functions.all %}
    {{ function }}
    {% endfor %}
    <br>
    {% for format in item.formats.all %}
    {{ format }}
    {% endfor %}
    <br>
    {% for type in item.types.all %}
    {{ type }}
    {% endfor %}
    <br>
    {% if user.is_authenticated %}
    <a class="btn btn-info" href="{% url 'app_edit' item_id=item.id %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'app_delete' item_id=item.id %}">Delete</a>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock content %}
