{% extends 'pln/base.html' %}
{% load static %}

<!-- css -->
{% block css %}
    <link rel="stylesheet" href="{% static 'css/apps.css' %}">
{% endblock %}

<!-- Filter -->
{% block filter %}
<h2> PLN Tool Browser</h2>
<p>What is a PLN?</p>

<br>
<!-- filer usage -->
<div class="alert alert-info">
- Filter Usage - <br>
1. Each categories are intersection.<br>
2. Each properties of categories are union.<br>

</div>

<!-- functions -->
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Functions</h3>
  </div>
  <div class="panel-body">
    {% for item in functions %}
    <input class="checkbox-primary" type="checkbox" name="app-function" value="{{ item.name | cut:" " | lower }}" id="{{ item.name | cut:" " | lower }}"> {{item.name }}
    <br>
    {% endfor %}
  </div>
</div>

<!-- formats -->
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Formats</h3>
  </div>
  <div class="panel-body">
    {% for item in formats %}
    <input class="checkbox-primary" type="checkbox" name="app-format" value="{{ item.name | cut:" " | lower }}" id="{{ item.name | cut:" " | lower }}"> {{ item.name }}
    <br>
    {% endfor %}
  </div>
</div>
<!-- type -->
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Types</h3>
  </div>
  <div class="panel-body">
    {% for item in types %}
    <input class="checkbox-primary" type="checkbox" name="app-type" value="{{ item.name | cut:" " | lower }}" id="{{ item.name | cut:" " | lower }}"> {{ item.name }}
    <br>
    {% endfor %}
  </div>
</div>
{% endblock %}<!--/. Filter -->

<!-- content  -->
{% block content %}
<!-- Page Contents -->

<!-- all tools collapse or -->
<div class="row">
    <a href="#" class="btn btn-info btn-sm pull-right openall"  style="margin-left:5px">Open all tools</a>
    <a href="#" class="btn btn-info btn-sm pull-right closeall">Close all tools</a>
</div><!-- /.end toolscollapse or -->
<hr>

<div class="rows">
  <!-- collapse -->
  <div class="apps panel-group" id="accordion">
    {% for item in apps %}
        <!-- each item start -->
        <div class="col-md-4 col-sm-4">
            <div class="app panel panel-info" data-id="{{ item.name }}" data-category ="{% for format in item.formats.all %}{{ format | cut:" " | lower }} {% endfor %}{% for function in item.functions.all %}{{ function | cut:" " | lower }} {% endfor %}{% for type in item.types.all %}{{ type | cut:" " | lower }} {% endfor %}">

            	<!-- panel header -->
            	<div class="panel-heading" >
            	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{ item.id }}">
                    <span class="clickable">
            	        <img class="img-responsive" src="{{ item.icon }}" alt="N/A" style="float:left;width:32px;">
            	        <h5>{{ item.name }}
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-down"></i></span></h5>
                    </span>
            	  </a>
            	</div><!-- /.panel header -->

            	<!-- collapse -->
            	<div id="{{ item.id }}" class="panel-collapse collapse">
            	  <!-- panel body -->
            	  <div class="panel-body">
            	    {{ item.description }}
            	    <a href="{% url 'app' item_id=item.id %}"> Read More</a>
            	    <hr>

            	    <div class="row">
            	      <div class="col-md-3 col-sm-3 col-xs-3">
            		Privacy:
            	      </div>
            	      <div class="col-md-9 col-sm-4 col-xs-4">
            		<a href="{{ item.privacy }}">{{ item.privacy | truncatechars:25 }}</a>
            	      </div>
            	    </div>

            	    <div class="row">
            	      <div class="col-md-3 col-sm-3 col-xs-3">
            		Tutorial:
            	      </div>
            	      <div class="col-md-9 col-sm-4 col-xs-4">
            		<a href="{{ item.tutorial }}">{{ item.tutorial | truncatechars:25 }}</a>
            	      </div>
            	    </div>

            	    <div class="row">
            	      <div class="col-md-3 col-sm-3 col-xs-3">
            		URL:
            	      </div>
            	      <div class="col-md-9 col-sm-4 col-xs-4">
            		<a href="{{ item.url }}">{{ item.url | truncatechars:25 }}</a>
            	      </div>
            	    </div>

            	    <div class="row">
            	      <div class="col-md-3 col-sm-3 col-xs-3">
            		Price:
            	      </div>
            	      <div class="col-md-9 col-sm-4 col-xs-4">
            		{{ item.price }}
            	      </div>
            	    </div>

            	    <div class="row">
            	      <div class="col-md-3 col-sm-3 col-xs-3">
            		Support:
            	      </div>
            	      <div class="col-md-9 col-sm-4 col-xs-4">
            		{{ item.support }}
            	      </div>
            	    </div>

            	    <div class="row">
            	      <div class="col-md-3 col-sm-3 col-xs-3">
            		Testimonial:
            	      </div>
            	      <div class="col-md-9 col-sm-4 col-xs-4">
            		{{ itme.testimonial }}
            	      </div>
            	    </div>

            	    <div class="row">
            	      <div class="col-md-3 col-sm-3 col-xs-3">
            		Functions:
            	      </div>
            	      <div class="col-md-9 col-sm-4 col-xs-4">
            		{% for function in item.functions.all %}
            		    {{ function }}
            		    {% if not forloop.last %},{% endif %}
            		{% endfor %}
            	      </div>
            	    </div>

            	    <div class="row">
            	      <div class="col-md-3 col-sm-3 col-xs-3">
            		Formats:
            	      </div>
            	      <div class="col-md-9 col-sm-4 col-xs-4">
            		{% for format in item.formats.all %}
            		    {{ format }}
            		    {% if not forloop.last %},{% endif %}
            		{% endfor %}
            	      </div>
            	    </div>

            	    <div class="row">
            	      <div class="col-md-3 col-sm-3 col-xs-3">
            		Types:
            	      </div>
            	      <div class="col-md-9 col-sm-4 col-xs-4">
            		{% for type in item.types.all %}
            		    {{ type }}
            		    {% if not forloop.last %},{% endif %}
            		{% endfor %}
            	      </div>
            	    </div>
            	  </div>
            	  <!-- /.panel body -->
            	</div><!-- /.panel-collapse -->

            	{% if user.is_authenticated %}
                	<!-- panel footer -->
                	<div class="panel-footer">
                	  <div class="admin-menu">
                	    <a class="btn btn-info" href="{% url 'app_edit' item_id=item.id %}">Edit</a>
                	    <a class="btn btn-danger" href="{% url 'app_delete' item_id=item.id %}">Delete</a>
                	  </div>
                	</div><!-- ./panel footer -->
            	{% endif %}

            </div><!-- /.panel -->
        </div> <!-- /.column -->
    {% endfor %}
  </div><!-- collapse -->
</div><!-- /.rows -->

<script>
$(document).on('click', '.closeall', function(e){
  $('.panel-collapse.in').collapse('hide');
  $('.panel-heading span.clickable').removeClass('panel-collapsed');
  $('.panel-heading span.clickable').find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
});

$(document).on('click', '.openall', function(e){
  $('.panel-collapse:not(".in")').collapse('show');
  $('.panel-heading span.clickable').addClass('panel-collapsed');
  $('.panel-heading span.clickable').find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
});

$(document).on('click', '.panel-heading span.clickable', function(e){
    var $this = $(this);
	if(!$this.hasClass('panel-collapsed')) {
		$this.addClass('panel-collapsed');
		$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
	} else {
		$this.removeClass('panel-collapsed');
		$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
	}
})

// Filter function
var $filterCheckboxes = $('input[type="checkbox"]');
$filterCheckboxes.on('change', function() {
    var selectedFilters = {};
    $filterCheckboxes.filter(':checked').each(function() {
    if (!selectedFilters.hasOwnProperty(this.name)) {
        selectedFilters[this.name] = [];
    }
        selectedFilters[this.name].push(this.value);
    });

    var $filteredResults = $('.app');
    $.each(selectedFilters, function(name, filterValues) {
        $filteredResults = $filteredResults.filter(function() {
            var matched = false, currentFilterValues = $(this).data('category').split(' ');
            $.each(currentFilterValues, function(_, currentFilterValue) {
                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });
            return matched;
        });
    });
    $('.app').hide().filter($filteredResults).show();
});
</script><!-- /.collapseAll -->

{% endblock content %}<!-- /.contents  -->
