{% load staticfiles %}

<!DOCTYPE html>
<html>
  <!-- header -->
  <head>
    <meta character="utf-8">
    <meta http-equiv="X-UA-Compatible" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Learning Network">
    <meta name="author" content="Songmin Kim">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Bootstrap Core JavaScript and CSS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Font Awesome CSS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- Mansonry Grid -->
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>

    <!-- Static css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}
    <title>Personal Learning Network</title>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <!-- container-nav -->
      <div class="container">
      	<!-- navbar menu -->
      	<div class="navbar-header">
      	  <a class="navbar-brand" href="http://clt.manoa.hawaii.edu"><img src="{% static 'images/CLT-pln-logo.png' %}"/></a>
      	</div>
        {% if user.is_authenticated %}
        <div class="navbar-nav navbar-right justified">
            <a href="admin/logout"><span class="glyphicon glyphicon-log-out"</span> Logout</a>
        </div>
        {% endif %}
      </div><!-- /.container-nav -->
    </nav>

    <!-- container -->
    <div class="container">
      <div class="row">
        <!-- filter -->
        <div class="col-md-3 col-sm-3">
          <div class="filter">
            {% block filter %}
            {% endblock %}
          </div>
        </div><!-- /.filter -->

      	<!-- pln contents -->
      	<div class="col-md-9 col-sm-9">
      	  <div class="contents">
      	    {% block content %}
      	    {% endblock %}
      	  </div>
      	</div><!-- /.pln content -->
      </div><!-- /.row -->
      <!-- footer -->
      {% include 'pln/footer.html' %}
      <!-- /. footer -->
    </div><!-- /. container -->
  </body>
</html>
