{% load staticfiles %}
<!-- footer-->
<hr>
<div class="footer">
  <div class="row">
    <!-- University of Hawaii -->
    <p><a href="https://manoa.hawaii.edu" target="_blank"><img class="size-medium wp-image-8071 alignleft" src="{% static 'images/Manoa-seal-297x300.png' %}" alt="Manoa seal" width="80" height="84" style="float:left"/></a>
        <span>CENTER FOR LANGUAGE & TECHNOLOGY</span><br>
        <span>1890 East-West Rd.  Moore Hall 256</span><br>
        <span>Honolulu, HI 96822</span><br>
        Phone 808.956.8047 | Fax 808.956.5134<br>
      <a href="mailto:cltmanoa@hawaii.edu">Contact the CLT</a>
      <a href="http://www.lll.hawaii.edu"target=" _blank">College of Languages, Linguistics & Literature</a><!-- /. University of Hawaii -->
    </p>
  </div><!-- /. row -->
  <br><br>
  <!-- copyright -->
  <div class="text-center"><a href="http://www.lll.hawaii.edu" target="_blank">Copyright@2016 * The Center for Language & Technology * Made in Hawaii‘i</a>
  </div><!-- /. copyright -->
  <br><br>
</div>
<!-- /. footer -->
